body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  color: white;  
  font-size: 2em;
  text-align: center; 
  margin-bottom: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; 
  font-family: Arial, sans-serif;
  font-color: white;
  background-image: url('/images/Shamba.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; 
  padding: 0; 
  margin: 0; 
}

.dashboard {
  max-width: 800px;
  margin: 0 auto;
}

.batch-card, .lot-card {
  width: 80%; 
  max-width: 700px;
  background-color: #F1F5F9; 
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.batch-card:hover, .lot-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expand-btn {
  background-color: #1CC458;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.expand-btn:hover {
  background-color: #004d00;
}

.details {
  display: none;
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.external-link {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9em;
}

.external-link:hover {
  text-decoration: underline;
}

.batch-header-text {
  font-weight: bold;
}

.product-name {
  color: #555;
}

.batch-card .details, 
.lot-card .details {
  display: block; 
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.expand-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header svg, .product-name svg {
  margin-right: 10px;
}

.expand-btn svg {
  margin-left: 5px;
}

.expand-btn {
  display: flex;
  align-items: center;
}
